
.modalContent {
  border-radius: var(--chakra-radii-brand) !important;
  background: var(--brandGray) !important;

  .closeButton {
    border-radius: var(--chakra-radii-brand) ;
  }

  .modalBody {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
