.tableContainer {
  border-radius: var(--chakra-radii-brand);
  border-color: var(--brandGray);
  margin-bottom: 10px;
}

.table{
  min-width: 1000px;
}

.tableCellName {
  font-weight: 600;
}

.tableCellPurchaseDate {
  font-weight: 600;
}

.tableCellPurchaseCheck {
  margin-left: 1rem;
}

.tableCellPurposeCategory {
  font-weight: 600;
}

.tableCellAmountTotal {
  font-weight: bold;
}

.iconActionButton {
  position: unset !important;

  &:hover {
    color: var(--brandBlue);
  }
}

.sortIcon {
  margin-left: .4rem;
}

.settingForm {
  & > div {
    margin-top: 0px;
  }
}

.position {
  border-top: solid 1px;
  border-color: var(--brandBlue);

  .positionAction {
    border-right: solid 1px;
    border-color: var(--brandBlue);
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .positionCount {
    font-weight: 500;
    font-size: 18px;
  }

  .chakraInputDisabled:disabled {
    opacity: unset;
  }
}

.expensesFilterBlock {
  background: var(--brandGray);
  margin-bottom: 15px;
  min-width: 240px;

  .expensesFilterChengeModeBlock {
    cursor: pointer;
    border-top: solid 1px;
    border-color: var(--brandBlue);
  }
}

.totalRowValue {
  margin-left: .4rem;
  font-weight: 600;
}

.buttonMenu {
  min-width: 0 !important;
  width: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}