html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  /* text-decoration: none; */
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --minHeight: 490px;
  --minWidth: 360px;
}


/* Стили proverkacheka */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 8px !important;
}

.b-check_table {
  padding-bottom: 40px;
  padding-right: 10px;
}

.b-check_center {
  text-align: center;
  word-break: break-word;
  position: relative;
}

.b-check_vblock-last {
  border-bottom: solid  2px var(--brandGray);
}

.b-check_item {
  border-top: solid  2px var(--brandGray);
  border-bottom: solid  2px var(--brandGray);
}

.b-check_itogo {
  font-size: 18px;
  font-weight: 700;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding-left: 5px;
  padding-right: 5px;
}
/*  */
