.header {
  width: 100%;
  height: 60px;
  background: var(--brandGray);
}

.logo {
  margin-left: 4.5vw;
  cursor: pointer;
  white-space: nowrap;
}

.background {
  position: absolute;
  width: 100vw;
  min-width: var(--minWidth);
  height: calc(100vh - 60px);
  margin-top: 60px;
  z-index: -1;
}