.siteSettongs {
  padding: 5px;
  display: flex;

  .buttonSwitch {
    font-size: 14px;
    font-weight: bold;
  }

  .buttonColorMode {
    height: 24px;
    margin-right: 20px;
    background: none;
  }
}



