.settingBox {
  background: var(--brandGray);
  padding: 15px;
  border-radius: var(--chakra-radii-brand);
}

.form {
  & > div {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.headerRepairObjectSettings {
  margin-bottom: .5rem;
}

.settingForm {
  & > div {
    margin-top: 5px;
  }
}

.iconActionButton {
  position: unset !important;

  &:hover {
    color: var(--brandBlue);
  }
}